.logo{
    width: 112px; /* 180px/ 1180px*/
    border-radius: 90px;
    border: 1px solid #ccc;
    margin: 30px 80px 30px 15px;
}

.navegador ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 1600px;
    margin: 0px 0px;
}

.nav{
    padding-top: 35px;
    padding-left: 35px;
}

.navegador li{
    text-align: right;
    list-style-type: none;
    font-size: 180%;
}

.navegador a{
    display: inline-block;
    text-transform: uppercase;
    color: rgb(221, 144, 0);
    font-family: 'Faustina', serif;
    font-size: 120%;
    text-decoration: none;
    padding: 30px 17px;
}

.buscar{
    display: flex;
    padding-top: 55px;
    padding-left: 50px;
}

.buscar input{
    height: 33px;
    margin: 18px;
    border: 1px solid #ccc;
    border-radius: 40px;
}

.buscar button{
    width: 20px;
    height: 20px;
    color: #141414;
    border: 1px solid #ccc;
    border-radius: 40px;
}

.logoFooter{
    width: 90px;
    margin-bottom: 30px;
    border-radius: 90px;
    margin-left: 50px;
    border: 1px solid #ccc;
}

.participantes ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1500px;
    color: white;
}

.participantes li{
    text-align: right;
    list-style-type: none;
}

.participantes a{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 50px 0px;
}

.participantes{
    padding-top: 70px;
}

.separación{
    padding-left: 500px;
    padding-top: 30px;
    justify-content: right;
    font-size: 160%;
}

.separación2{
    padding-top: 30px;
    justify-content: right;
    font-size: 160%;
}

.nombre{
    padding: 30px 100px 0px 20px;
    font-family: 'Merienda One', cursive;
    color: rgb(255, 160, 36);
    font-size: 170%;
    text-align: left;
}

html{
    background-color: black;
}

.banner{
    height: 425px;
    padding-top: 35px;
    width: 100%;
}

.populares{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 40px 10px;
}

h2{
    color: azure;
    padding: 25px;
    font-family: 'Merienda One', cursive;
    font-size: xx-large;
}

.articulos img{
    width: 240px;
    height: 300px;
    align-items: center;
    padding: 10px 15px 7px 7px; 
    background-color: rgb(41, 41, 41);
}

.articulos p{
    color: rgb(255, 193, 78);
    font-family: 'Vollkorn', serif;
    font-size: medium;
    padding-left: 10px;
}

.articulos h3{
    color: rgb(221, 144, 0);
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

.articulos{
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    border: 5px solid rgb(221, 144, 0);
    align-items: center;
    margin: 10px;
}

.articulos a {
    width: 100%;
    display: block;
    text-align: center;
}

/* CSS DE DETALLE DE PELICULAS */

.mainLuca{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 40px 10px 0px 30px;
    border: 7px solid rgb(230, 159, 7);
}

.descripcion{
    padding: 0px 15px;
    color: white;
    background-color: rgb(15, 15, 15);
}


.imagenluca img{
    height: 610px;
    border: 5px solid rgb(252, 252, 252);
}

.botonFav{
    border-radius: 10px;
    border: 10px solid rgb(221, 144, 0);
    background-color: rgb(221, 144, 0);
    font-size: x-large;
    font-family: 'Acme', sans-serif;
    margin: 30px 0px 40px 25px;  
}

.listaLuca li{
    list-style-type: none;
    justify-content: left;
    font-size: 24px;
    padding-bottom: 17px;
    color: white;
}

.listaLuca a{
    text-decoration: none;
    color: white;
}

h4{
    color: rgb(255, 187, 0);
    padding: 15px;
    font-family: 'Merienda One', cursive;
    font-size: xx-large;
}

h5{
    font-size: x-large;
    padding-left: 20px;
    padding-bottom: 10px;
}

.parrafo{
    font-size: 22px;
    padding: 10px 0px 0px 20px;
}

/* CSS DE DETALLE DE SERIES */

.mainFriends{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 40px 10px 0px 30px;
    border: 7px solid rgb(230, 159, 7);
}

.infoFriends{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.descripcion{
    padding: 0px 15px;
    color: white;
    background-color: rgb(37, 36, 36);
}


.imagenFriends img{
    height: 610px;
    border: 5px solid rgb(252, 252, 252);
}


.listaFriends li{
    list-style-type: none;
    justify-content: left;
    font-size: 24px;
    padding-bottom: 17px;
    color: white;
}

.listaFriends a{
    text-decoration: none;
    color: white;
}

 
/* GENEROS */

.mainGeneros{
    width: 80%;
    border: 7px solid rgb(230, 159, 7);
    padding: 30px;
    margin: 0 auto;
}

.listadoGeneros{
    display: flex;
    justify-content: space-between;

}

.listadoGeneros li{
    list-style: none;
}


.listadoGeneros a{
    border-radius: 10px;
    border: 10px solid rgb(221, 144, 0);
    background-color: rgb(221, 144, 0);
    font-size: x-large;
    font-family: 'Acme', sans-serif;
    margin: 30px 0px 40px 25px;
    text-decoration: none;
    color: black;
}

/* detalle genero */

.detalleGenero{
    display: flex; /* permite alinear los elementos que estan dentro */
    flex-wrap: wrap; /*  respeta el tamaño de esos elementos */
}

/*Favoritos*/
.favoritos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px 40px 120px;  
}
/* Para centrar Titulo */
.tituloFavoritos{
    margin-left: 500px;
    margin-right: 500px;
}

.tituloFavoritos h2{
    text-align: center;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    border: 2px solid rgb(221, 144, 0);
    width: 600px;
}

/* Estilo para las Peliculas */

.articulosFavoritos{
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    border: 5px solid rgb(221, 144, 0);
    align-items: center;
}

.articulosFavoritos img{
    width: 240px;
    height: 300px;
    align-items: center;
    padding: 10px 15px 7px 7px; 
    background-color: rgb(41, 41, 41);
}

.articulosFavoritos p{
    color: rgb(255, 193, 78);
    font-family: 'Vollkorn', serif;
    font-size: medium;
    padding-left: 10px;
}

.articulosFavoritos h3{
    color: rgb(221, 144, 0);
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}


@media (max-width: 600px) {


    /*Agregar el codigo para header y footer*/
    /* Generos */
   .mainGeneros {
        width: 100%;
        padding: 0px 0px 10px 0px;    
    }

    .listadoGeneros {
    display: block;
    }

   .listadoGeneros li{
   margin-top: 50px;
    }
     /* Detalles Generos */
    .detalleGenero {
    justify-content: center;
    }
}

